@charset "UTF-8";
// todo  后期完善整理文档注释
/*----------------------------------------------------------------------------------------------------*/
//◆ 横轴对齐方式样式规则定义
/**
 * ◆ 横轴对齐方式样式规则定义
 *
 * @subsubsection aligncontent_style_definition
 */
//特定值
%acs{align-content:stretch;} // 各行将会伸展以占用剩余的空间。如果剩余的空间是负数，该值等效于'flex-start'。在其它情况下，剩余空间被所有行平分，以扩大它们的侧轴尺寸。 (默认值，可不定义)
%acfs{align-content:flex-start;} // 各行向弹性盒容器的起始位置堆叠。弹性盒容器中第一行的侧轴起始边界紧靠住该弹性盒容器的侧轴起始边界，之后的每一行都紧靠住前面一行。
%acfe{align-content:flex-end;} // 各行向弹性盒容器的结束位置堆叠。弹性盒容器中最后一行的侧轴起结束界紧靠住该弹性盒容器的侧轴结束边界，之后的每一行都紧靠住前面一行。
%acc{align-content:center;} // 各行向弹性盒容器的中间位置堆叠。各行两两紧靠住同时在弹性盒容器中居中对齐，保持弹性盒容器的侧轴起始内容边界和第一行之间的距离与该容器的侧轴结束内容边界与第最后一行之间的距离相等。（如果剩下的空间是负数，则各行会向两个方向溢出的相等距离。）
%acsb{align-content:space-between;} // 各行在弹性盒容器中平均分布。如果剩余的空间是负数或弹性盒容器中只有一行，该值等效于'flex-start'。在其它情况下，第一行的侧轴起始边界紧靠住弹性盒容器的侧轴起始内容边界，最后一行的侧轴结束边界紧靠住弹性盒容器的侧轴结束内容边界，剩余的行则按一定方式在弹性盒窗口中排列，以保持两两之间的空间相等。
%acsa{align-content:space-around;} // 各行在弹性盒容器中平均分布，两端保留子元素与子元素之间间距大小的一半。如果剩余的空间是负数或弹性盒容器中只有一行，该值等效于'center'。在其它情况下，各行会按一定方式在弹性盒容器中排列，以保持两两之间的空间相等，同时第一行前面及最后一行后面的空间是其他空间的一半。
@if $IfGenCommonStyleDefinition
{
	@if $IfGenAllSelectors or index($SelectedSelectors, acs){.acs{@extend %acs}}
	@if $IfGenAllSelectors or index($SelectedSelectors, acfs){.acfs{@extend %acfs}}
	@if $IfGenAllSelectors or index($SelectedSelectors, acfe){.acfe{@extend %acfe}}
	@if $IfGenAllSelectors or index($SelectedSelectors, acc){.acc{@extend %acc}}
	@if $IfGenAllSelectors or index($SelectedSelectors, acsb){.acsb{@extend %acsb}}
	@if $IfGenAllSelectors or index($SelectedSelectors, acsa){.acsa{@extend %acsa}}
}
