@charset "UTF-8";
// todo  后期完善整理文档注释
/*----------------------------------------------------------------------------------------------------*/
//◆ 纵轴对齐方式样式规则定义
/**
 * ◆ 纵轴对齐方式样式规则定义
 *
 * @subsubsection alignitems_style_definition
 */
//特定值
%ais{align-items:stretch;} // 如果指定侧轴大小的属性值为'auto'，则其值会使项目的边距盒的尺寸尽可能接近所在行的尺寸，但同时会遵照'min/max-width/height'属性的限制。  (默认值，可不定义)
%aifs{align-items:flex-start;} //  弹性盒子元素的侧轴（纵轴）起始位置的边界紧靠住该行的侧轴起始边界。
%aife{align-items:flex-end;} //  弹性盒子元素的侧轴（纵轴）结束位置的边界紧靠住该行的侧轴结束边界。
%aic{align-items:center;} //  弹性盒子元素在该行的侧轴（纵轴）上居中放置。（如果该行的尺寸小于弹性盒子元素的尺寸，则会向两个方向溢出相同的长度）。
%aib{align-items:baseline;} // 如弹性盒子元素的行内轴与侧轴为同一条，则该值与'flex-start'等效。其它情况下，该值将参与基线对齐。
@if $IfGenCommonStyleDefinition
{
	@if $IfGenAllSelectors or index($SelectedSelectors, ais){.ais{@extend %ais}}
	@if $IfGenAllSelectors or index($SelectedSelectors, aifs){.aifs{@extend %aifs}}
	@if $IfGenAllSelectors or index($SelectedSelectors, aife){.aife{@extend %aife}}
	@if $IfGenAllSelectors or index($SelectedSelectors, aic){.aic{@extend %aic}}
	@if $IfGenAllSelectors or index($SelectedSelectors, aib){.aib{@extend %aib}}
}
